<div class="container">

  <% if flash[:notice] %>
   <div class="notice-red">
     <%= flash[:notice] %>
   </div>
  <% end %>

  <div class="edit-text">
   <h4>商品編集</h4>
  </div>

  <div class="row justify-content-md-center mt-3">
    <div class="col-6">
      <%= form_with model: @item, url: admin_item_path, method: :patch do |f| %>

       <table class="table table-borderless">
          <tbody>

            <tr>
             <td>
              <%= f.label :image, "商品画像" %>
             </td>
             <td>
             <%= f.file_field :image, accept: "image/*" %>
             </td>
            </tr>

            <tr>
             <td>
              <%= f.label :name, "商品名" %>
             </td>
             <td>
              <%= f.text_field :name %>
             </td>
            </tr>

            <tr>
             <td>
              <%= f.label :kcal, "カロリー" %>
             </td>
             <td>
              <%= f.text_field :kcal %>
             </td>
            </tr>

            <tr>
             <td>
              <%= f.label :protein, "プロテイン" %>
             </td>
             <td>
              <%= f.text_field :protein %>
             </td>
            </tr>


            <tr>
             <td>
              <%= f.label :fat, "脂質" %>
             </td>
             <td>
              <%= f.text_field :fat %>
             </td>
            </tr>

            <tr>
             <td>
              <%= f.label :carbohydrate, "炭水化物" %>
             </td>
             <td>
              <%= f.text_field :carbohydrate %>
             </td>
            </tr>

            <tr>
             <td>
              <%= f.label :brand, "ブランド" %>
             </td>
             <td>
              <%= f.text_field :brand %>
             </td>
            </td>

            <tr>
             <td>
              <%= f.label :flavor, "風味" %>
             </td>
             <td>
              <%= f.text_field :flavor %>
             </td>
            </tr>

            <tr>
             <td>
              <%= f.label :volume, "内容量" %>
             </td>
             <td>
              <%= f.text_field :volume %>
             </td>
            </tr>

            <tr>
             <td>
              <%= f.label :protein_type, "種類" %>
             </td>
             <td>
              <%= f.text_field :protein_type %>
             </td>
            </tr>

            <tr>
             <td>
              <%= f.label :price, "値段" %>
             </td>
             <td>
              <%= f.text_field :price %>
             </td>
            </tr>

          </tbody>
       </table>

       <div class="pr_100-submit">
   　　　　 <button type="submit" class="btn btn-primary">変更を保存</button>
       </div>
      <% end %>

    </div>
  </div>


  </div>
