<div class="container">

  <% if flash[:notice] %>
   <div class="notice-green">
     <%= flash[:notice] %>
   </div>
  <% end %>


  <h4>商品詳細</h4>

  <div class="rowjustify-content-md-center mt-3">
    <div class="col-3">
      <%= image_tag @item.image, size: "200x200" %>
    </div>
    <div class="col-9">
      <h5><%= @item.name %></h5>
      <table class="table">
        <tbody>
          <tr>
            <td>
              ブランド
            </td>
            <td>
              <%= @item.brand %>
            </td>
          </tr>
          <tr>
            <td>
              風味
            </td>
            <td>
              <%= @item.flavor %>味
            </td>
          </tr>
          <tr>
            <td>
              内容量
            </td>
            <td>
              <%= @item.volume %>g
            </td>
          </tr>
          <tr>
            <td>
              種類
            </td>
            <td>
              <%= @item.protein_type %>
            </td>
          </tr>
          <tr>
            <td>
              値段
            </td>
            <td>
              <%= @item.price %>円
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-9">
      <h5>一食当たり</h5>
        <table class="table">
          <tbody>
            <tr>
              <td>
                カロリー
              </td>
              <td>
                <%= @item.kcal %>
              </td>
              <td>
                たんぱく質
              </td>
              <td>
                <%= @item.protein %>
              </td>
            </tr>
            <tr>
              <td>
                脂質
              </td>
              <td>
                <%= @item.fat %>
              </td>
              <td>
                炭水化物
              </td>
              <td>
                <%= @item.carbohydrate %>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
<div class="item_show">
  <%= link_to "編集する", edit_admin_item_path(@item.id), class: "btn btn-success" %>
</div>

</div>

