<div class="container">

  <div class="row justify-content-md-center mt-3">
   <div class="col-6">
     <div class="inline">
      <h4>商品一覧</h4>
     </div>
     <div class="inline-ml_50">
       <%= link_to "新規登録", new_admin_item_path, class:"btn btn-primary" %>
     </div>

     <% @items.each do |item| %>
    
      <table class="table">
        <tbody>
          <td>
            <%= image_tag item.image, size: "100x100" %>
          </td>
          <td>
            <%= link_to admin_item_path(item.id) do %>
             <%= item.name %>
            <% end %>
          </td>
        </tbody>
      </table>
  
     <% end %>
   
   </div>
  </div>


  <%= paginate @items, theme: 'bootstrap-5' %>


</div>


