<div class="container">

  <div class="row">
    <div class="col-3">
      <%= @review.item.image %>
    </div>
    <div class="col-9">
      <%= @review.item.name %>
    </div>
  </div>

  <p>投稿レビュー一覧</p>

  <% @reviews.each do |review| %>
  <div class="row">
    <div class="col-3">
      <%= review.user.image %>
      <%= review.user.name %>
    </div>
    <div class="col-9">
      <p>
        <%= review.ease_i18n %>
        <%= review.taste_i18n %>
        <%= review.purpose_i18n %>
      </p>
      <p>
        <%= review.addition %>
      </p>
    </div>
  </div>
  <% end %>

</div>