<div class="container">

  <% if flash[:notice] %>
   <div class="notice-green">
     <%= flash[:notice] %>
   </div>
  <% end %>

  <div class="row">
    <div class="col-3 mb-5 mt-5">
      <%= image_tag @item.image, size: "200x200" %>
    </div>
    <div class="col-9">
      <div class="item-name">
       <%= @item.name %>
      </div>
    </div>
  </div>

  <h4>投稿レビュー一覧</h4>

  <% @reviews.each do |review| %>
   <div class="row">
    <div class="col-3">
     <div class="inline">
       <% if review.user.image.attached? %>
        <%= image_tag review.user.image, size: "100x100" %>
       <% else %>
        <%= image_tag 'no_image.jpg', size: "100x100" %>
       <% end %>
     </div>
     <div class="inline-ml_50">
       <%= review.user.name %>
     </div>
    </div>
    <div class="col-9">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td style="width: 10%">
             飲みやすさ：<%= review.ease_i18n %>
            </td>
            <td style="width: 10%">
             味：<%= review.taste_i18n %>
            </td>
            <td style="width: 10%">
             購入目的：<%= review.purpose_i18n %>
            </td>
          </tr>
        </tbody>
      </table>
      <p>
       <%= review.addition %>
      </p>
    </div>
   </div>
  <% end %>

  <%= paginate @reviews, theme: 'bootstrap-5' %>

</div>