<div class="container">

  <% if flash[:notice] %>
   <div class="notice-red">
     <%= flash[:notice] %>
   </div>
  <% end %>

  <div class="row justify-content-md-center mt-5">
   <div class="col-6">
  
    <h4><%= @user.name %> さんの会員情報編集</h4>
  
    <%= form_with model: @user, url: admin_user_path, method: :patch do |f| %>
  
    <table class="table table-borderless">
        <tbody>
          <tr>
            <td>
             会員ステータス
            </td>
            <td>
             <%= f.radio_button :is_active, "true", class:'ml-3' %>有効
             <%= f.radio_button :is_active, "false", class:'ml-5' %>無効
            </td>
          </tr>
        </tbody>
    </table>

    <div class="pr_100-submit">
     <%= f.submit '変更を保存', class: "btn btn-primary ml-5" %>
    </div>
    
    <% end %>
  
  </div>
 </div>


 
</div>