<div class="container">

  <% if flash[:notice] %>
   <div class="notice-red">
     <%= flash[:notice] %>
   </div>
  <% end %>

  <h4><%= @user.name %> さんの会員情報編集</h4>

<%= form_with model: @user, url: admin_user_path, method: :patch do |f| %>

  <div class="row mt-4 ml-5">
    <div class="col-3 pl-5">
     会員ステータス
    </div>
    <div class="col-9">
      <%= f.radio_button :is_active, "true", class:'ml-3' %>有効
      <%= f.radio_button :is_active, "false", class:'ml-5' %>退会
    </div>
  </div>

  <div class="home-submit">
   <%= f.submit '変更を保存', class: "btn btn-primary ml-5" %>
  </div>


 <% end %>
</div>