<div class="container">
 
  <% if flash[:notice] %>
   <div class="notice-red">
     <%= flash[:notice] %>
   </div>
  <% end %>

  <div class="row justify-content-md-center mt-3">
   <div class="col-6">
     
     <h4>ログイン</h4>
 
     <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    
      <table class="table table-borderless">
       <tbody>
         
        <tr>
         <td>
          <%= f.label :email, "メールアドレス" %>
         </td>
         <td>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
         </td>
        </tr>
    
        <tr>
         <td>
          <%= f.label :password, "パスワード" %>
         </td>
         <td>
          <%= f.password_field :password, autocomplete: "current-password" %>
         </td>
        </tr>
        
       </tbody>
      </table>
      
       <div class="pt_50-link">
         <button type="submit" class="btn btn-primary">ログイン</button>
       </div>
       
     <% end %>
    
    </div>
  </div>
  

</div>
